# POSTTEST 4
**NAMA  : DUTA VIRA PRADHANA DIPA**

**NIM   : 2009106053**

Import semua library yang dibutuhkan

In [118]:
import imp
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

Membaca Dataset

In [119]:
df = pd.read_csv("Dataset/california_house_price.csv")

In [120]:
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

## Data Spiltting

Subset target & feature

In [121]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

Membuat perbandingan 70:30 dengan parameter test_size bernilai 0.3 = 30%

In [122]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

menampilkan dimensi hasil splitting

In [123]:
print("Dimensi data\t:", df.shape,
    "\nDimensi x_train\t:", x_train.shape,
    "\nDimensi x_test\t:", x_test.shape,
    "\nDimensi y_train\t:", y_train.shape,
    "\nDimensi y_test\t:", y_test.shape)

Dimensi data	: (20640, 10)
Dimensi x_train	: (14448, 9)
Dimensi x_test	: (6192, 9)
Dimensi y_train	: (14448,)
Dimensi y_test	: (6192,)

## Nomalisasi Data (MinMx Scaler)

membuat kelas MinMaxScaller ke dalam vaiabel scaler

In [124]:
scaler = MinMaxScaler()

duplikasi DataFrame dataset(df) ke dalam df_normalization dan menampilan semua kolomnya

In [125]:
df_normalization = df.copy()
df_normalization.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'median_house_value'],
      dtype='object')

Normalisasi data pada atribut "longitude", 'latitude', 'housing_median_age'

In [126]:
normalize_dataset = scaler.fit_transform(df_normalization[["longitude", 'latitude', 'housing_median_age']])

Mengubah hasil normalisasi menjadi DataFrame

In [127]:
normalize_dataset = pd.DataFrame(normalize_dataset)

Mengubah nama setiap attribute hasil normalisasi dan menampilkkan hasilnya

In [128]:
normalize_dataset.rename(columns={0:'longitude', 1:'latitude', 2:'housing_median_age'}, inplace=True)
normalize_dataset

       longitude  latitude  housing_median_age
0       0.211155  0.567481            0.784314
1       0.212151  0.565356            0.392157
2       0.210159  0.564293            1.000000
3       0.209163  0.564293            1.000000
4       0.209163  0.564293            1.000000
...          ...       ...                 ...
20635   0.324701  0.737513            0.470588
20636   0.312749  0.738576            0.333333
20637   0.311753  0.732200            0.313725
20638   0.301793  0.732200            0.333333
20639   0.309761  0.725824            0.294118

[20640 rows x 3 columns]

Menampilkan nilai Min dan Max dari DataFrame hasil normalisasi untuk membuktikan bahwa normalisasi dilakukan dengan benar

In [129]:
print("Nilai Min :\n", normalize_dataset.min(), 
    "\n\nNilai Max :\n", normalize_dataset.max())

Nilai Min :
 longitude             0.0
latitude              0.0
housing_median_age    0.0
dtype: float64

Nilai Max :
 longitude             1.0
latitude              1.0
housing_median_age    1.0
dtype: float64

## Standarisasi Data

membuat kelas MinMaxScaller ke dalam vaiabel standar_std

In [130]:
standar_std = StandardScaler()

duplikasi DataFrame dataset(df) ke dalam vaiabel df_standarlization

In [131]:
df_standarlization= df.copy()

Menghapus attribute yang tidak dibutuhkan untuk standarisasi

In [132]:
df_standarlization.drop('ocean_proximity', axis=1, inplace=True)

Melakukan standarisasi dan menampilkannya

In [133]:
standar_data = standar_std.fit_transform(df_standarlization)
print("Nilai Standar Deviasi setelah Scalling: ", np.nanstd(standar_data),
sep='\n')

Nilai Standar Deviasi setelah Scalling:
1.0

Mengubah hasil standarisasi menjadi DataFrame dan menampilkannya

In [134]:
standarlized_dataset = pd.DataFrame(standar_data)
standarlized_dataset.rename(columns={0:'longitude', 1:'latitude', 2:'housing_median_age', 3:'total_rooms', 4:'total_bedrooms', 5:'population', 6:'households', 7:'median_income',8: 'median_house_value'}, inplace=True)
standarlized_dataset

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-1.327835,1.052548,0.982143,-0.804819,-0.970325,-0.974429,-0.977033,2.344766,2.129631
1,-1.322844,1.043185,-0.607019,2.045890,1.348276,0.861439,1.669961,2.332238,1.314156
2,-1.332827,1.038503,1.856182,-0.535746,-0.825561,-0.820777,-0.843637,1.782699,1.258693
3,-1.337818,1.038503,1.856182,-0.624215,-0.718768,-0.766028,-0.733781,0.932968,1.165100
4,-1.337818,1.038503,1.856182,-0.462404,-0.611974,-0.759847,-0.629157,-0.012881,1.172900
...,...,...,...,...,...,...,...,...,...
20635,-0.758826,1.801647,-0.289187,-0.444985,-0.388895,-0.512592,-0.443449,-1.216128,-1.115804
20636,-0.818722,1.806329,-0.845393,-0.888704,-0.920488,-0.944405,-1.008420,-0.691593,-1.124470
20637,-0.823713,1.778237,-0.924851,-0.174995,-0.125472,-0.369537,-0.174042,-1.142593,-0.992746
20638,-0.873626,1.778237,-0.845393,-0.355600,-0.305834,-0.604429,-0.393753,-1.054583,-1.058608
20639,-0.833696,1.750146,-1.004309,0.068408,0.185416,-0.033977,0.079672,-0.780129,-1.017878

## Data Cleaning (null)

Menampilkan atribut yang terdapat nilai null

In [135]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

Membuat kelas SimpleImputer dengan parameter strategy yang memiliki nilai median karena data pada atributnya berupa bilangan bulat

In [136]:
imputer_median = SimpleImputer(strategy='median')

Melakukan cleaning data dengan strategy median pada atribute yang berilai bilangan bulat

In [137]:
df["total_bedrooms"] = imputer_median.fit_transform(df[["total_bedrooms"]])

Menampilkan hasil cleaning data

In [138]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
median_house_value    0
dtype: int64

## Data Cleaning (duplicated)

Menampilkan ada berapa record yang memiliki nilai duplikat

In [139]:
df.duplicated().sum()

0

Karena tidak ada, saya membuat duplikat pada 5 baris pertama untuk menjalankan proses cleaning data duplikat

In [140]:
df = pd.concat([df, df.head(5)], ignore_index=True)
df.duplicated().sum()

5

Menampilkan hasil duplikat buatan

In [141]:
df[df.duplicated()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
20640,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
20641,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
20642,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
20643,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
20644,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

Menghapus nilai yang duplikat

In [142]:
df.drop_duplicates(inplace=True)

Menampilkan kembali hasil setelah dihapus

In [143]:
df.duplicated().sum()

0

## Mengganti Tipe Data Atribut Angka

Menampilkan tipe data setiap atribute

In [144]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
ocean_proximity        object
median_house_value      int64
dtype: object

mengubah tipe data dari atribute 'population' dari int64 menjadi object dan menampilkannya kembali

In [145]:
df['population'] = df['population'].astype("object")
df.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population             object
households              int64
median_income         float64
ocean_proximity        object
median_house_value      int64
dtype: object

## One-Hot Encoding

Membuat kelas OneHotEncoder ke dalam variabel onehot dengan parameter sparse bernilai False agar OneHotEncoder dapat mengembalikan array

In [146]:
onehot = OneHotEncoder(sparse=False)

Melakukan One-Hot Encoding oada atribute 'ocean_proximity' dan mengubah tipenya ke DataFrame

In [147]:
ocean_proximity_enc = onehot.fit_transform(df[['ocean_proximity']])
ocean_proximity_enc = pd.DataFrame(ocean_proximity_enc)

Melakukan join agar terlihat atribute hasil One-Hot Encoding bergabung dengan DataFrame(df) dan menampilkannya

In [148]:
df = df.join(ocean_proximity_enc)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value,0,1,2,3,4
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100,0.0,1.0,0.0,0.0,0.0
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100,0.0,1.0,0.0,0.0,0.0
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300,0.0,1.0,0.0,0.0,0.0
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700,0.0,1.0,0.0,0.0,0.0
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400,0.0,1.0,0.0,0.0,0.0