# POSTTEST 5
**NAMA  : DUTA VIRA PRADHANA DIPA**

**NIM   : 2009106053**

Import Library

In [31]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.naive_bayes import BernoulliNB
from sklearn.neighbors import KNeighborsClassifier

Membaca database

In [32]:
df = pd.read_csv("Dataset/heart disease classification dataset.csv")

In [33]:
df.head(5)

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,male,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,yes
1,1,37,male,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,yes
2,2,41,female,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,yes
3,3,56,male,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,yes
4,4,57,female,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,yes

## Preprocessing Data

Membuat  kelas Ordinal Encoder ke dalam variabel o_encoder

In [34]:
encoder = OrdinalEncoder()

Encoding kolom yang bertipe objek dan menampilkan hasilnya

In [35]:
df['sex'] = encoder.fit_transform(df[['sex']])
df

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,1.0,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,yes
1,1,37,1.0,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,yes
2,2,41,0.0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,yes
3,3,56,1.0,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,yes
4,4,57,0.0,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,298,57,0.0,0,140.0,241.0,0,1,123.0,1,0.2,1,0,3,no
299,299,45,1.0,3,110.0,264.0,0,1,132.0,0,1.2,1,0,3,no
300,300,68,1.0,0,144.0,193.0,1,1,141.0,0,3.4,1,2,3,no
301,301,57,1.0,0,NaN,131.0,0,1,115.0,1,1.2,1,1,3,no
302,302,57,0.0,1,130.0,236.0,0,0,174.0,0,0.0,1,1,2,no

## Data Cleaning

Mengecek kolom yang memiliki nilai null

In [36]:
df.isna().sum()

Unnamed: 0    0
age           0
sex           0
cp            0
trestbps      4
chol          1
fbs           0
restecg       0
thalach       5
exang         0
oldpeak       0
slope         0
ca            0
thal          0
target        0
dtype: int64

Cleaning data yang memiliki nilai null dan menggantinya dengan mean

In [37]:
imputer = SimpleImputer(strategy="mean")
df["trestbps"] = imputer.fit_transform(df[["trestbps"]])
df["chol"] = imputer.fit_transform(df[["chol"]])
df["thalach"] = imputer.fit_transform(df[["thalach"]])

Mengecek kembali kolom bernilai null

In [38]:
df.isna().sum()

Unnamed: 0    0
age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
target        0
dtype: int64

## Supervised Learning

Menentukan kolom untuk data learning dan kolom untuk label output

In [39]:
x_data = df[["age", "sex", "cp", "trestbps", "chol", "fbs", "thalach", "exang", "oldpeak", "slope", "ca"]]
y_label = df["target"]

## KNN
Splitting antara data training dan data testing dengan perbandingan 70:30

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_label, test_size=0.3)

Membuat  kelas KNeighborsClassifier ke dalam variabel knearest_n dan menetapkan jumlahnya

In [41]:
knearest_n = KNeighborsClassifier(n_neighbors=4)

Modeling dengan data training dan label training

In [42]:
knearest_n.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=4)

Menghitung skor dari model yang digunakan dan menampilkan hasilnya

In [43]:
knearest_score = knearest_n.score(x_test, y_test)
knearest_score

0.6043956043956044

## Bernoulli Naive Bayes
Splitting antara data training dan data testing dengan perbandingan 70:30

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_label, test_size=0.3)

Membuat  kelas BernoulliNB ke dalam variabel bernoulli dan menetapkan jumlahnya

In [45]:
bernoulli = BernoulliNB()

Fitting pada data training dan label training

In [46]:
bernoulli.fit(x_train, y_train)

BernoulliNB()

Menghitung skor dari model yang digunakan dan menampilkan hasilnya

In [47]:
b_score = bernoulli.score(x_test, y_test)
b_score

0.7912087912087912

## Perbandingan Hasil dari Algoritma KNN & Bernoulli Naive Bayes

In [48]:
print(f"Skor K-Nearest Neighbors\t: {knearest_score}")
print(f"Skor Bernoulli Naïve Bayes\t: {b_score}")

Skor K-Nearest Neighbors	: 0.6043956043956044
Skor Bernoulli Naïve Bayes	: 0.7912087912087912

Skor terbaik ada pada Algoritma Bernoulli Naive Bayes